html {
    display: flex;
    justify-content: center;
}

.parts{
    max-width: 1080px;
}

#input_form{
    width:40%;
    margin:1.5em 0;
}

.input_text{
    width: 70%; 
    margin: 0.3em;
    padding: 3px 5px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.input_text:focus {
    border: 2px solid green; 
    z-index: 10;
    outline: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.ttl {
    font-size: 150%;
    font-weight: bold;
    color: #045FB4;
    padding: 10px 0;
    border-bottom: solid 2px #045FB4;
}

.topics {
    margin: 10px 0 0;
}

.topics dl {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.topics dt {
    clear: left;
    width: 40%;
    font-weight: normal;
    padding-left: 10px;    
    padding-bottom: 5px;
}

/* ボタン要素 */
.button {
    display       : inline-block;
    font-size: 1em;
    border-radius : 5%;          /* 角丸       */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #1b2538;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #1b2538;    /* 枠の指定 */
    /* ボタンを右寄せ */
    display: block;
    margin: 0.8rem 0 0 auto;
  }
  .button:hover {
    color         : yellow; 
    background    : green;
    border        : 2px solid yellow;    /* 枠の指定 */
  }



